{% extends "debsso-base.html" %}
{% load url from future %}

{% block content %}

<h1 class="announce">Debian Single Sign On</h1>

<div class="warning">
   <h1>Access denied.</h2>
    You are currently not logged in or your account is not allowed to access
{% comment %}
% if( $c->stash->{DACS_ERROR_URL} ) {
        <b><% $c->stash->{DACS_ERROR_URL} %></b>.
% } else {
        the requested URL.
% }
{% endcomment %}

<%method error_code><% $c->stash->{DACS_ERROR_CODE} ? "(DACS Code " . $c->stash->{DACS_ERROR_CODE}. ")" : "" %></%method>

</div>

<form name="loginForm" method="POST" action="/cgi-bin/dacs/dacs_authenticate" autocomplete="off">
  <label for="USERNAME"><b>Username:</b><span class="form_required" title="Needed argument">*</span></label>
  <br />
  <input name="USERNAME" type="text" id="USERNAME" size="30" ><!-- default empty -->
  <br />
  <div class="description">Please enter your Debian Username.</div>
  <br />
  <label for="PASSWORD"><b>Password:</b><span class="form_required" title="Needed argument">*</span></label>
  <br>
  <input name="PASSWORD" type="password" id="PASSWORD" size="30">
  <br>
  <div class="description">Please enter your password.</div>
  <br>
  <input type="submit" class="highlight" value="Login...">
  <input type="hidden" name="DACS_BROWSER" value="1">
  <input type="hidden" name="ENABLE_AUTH_HANDLERS" value="1">
  <input type="hidden" name="DACS_JURISDICTION" value="DEBIAN">
  <input type="hidden" name="DACS_AUTH_SUCCESS_HANDLER" value="DACS_ERROR_URL">
  {% comment %}
  % if( $c->stash->{DACS_ERROR_URL} ) {
  <input type="hidden" name="DACS_ERROR_URL" value="<% $c->stash->{DACS_ERROR_URL} %>">
  % }
  {% endcomment %}
</form>

{% endblock %}
