{% extends "debsso-base.html" %}
{% load url from future %}

{% block head_resources %}
{{block.super}}
<style type="text/css">
div.login_form {
  width: 45%;
  border: 1pt dashed black;
  padding-left: 2%;
  padding-right: 2%;
  min-width: 15em;
}

div.debian_login {
  float: left;
}

div.alioth_login {
  float: right;
}

.login_form form p {
  padding-bottom: 1em;
}

.login_form label {
  float: left;
  width: 6em;
  text-align: right;
  margin-right: 1em;
  clear: left;
}

.login_form span.button-padding {
  float: left;
  width: 6em;
  margin-right: 1em;
  clear: left;
}

.login_form input {
  float: left;
}

</style>
<script>
// Figure out if we have javascript; if we do, we can speed up logout considerably
document.cookie = 'javascript=yes; path=/';
</script>
{% endblock %}

{% block content %}

<h1 class="announce">Debian Single Sign On</h1>

{% if dacs_error %}
<div class="important">
  {% if dacs_error.tag == "NO_AUTH" %}
  <h1>Login required</h1>
  {% else %}
  <h1>{{dacs_error.sdesc}}</h1>
  <p>{{dacs_error.ldesc}}</p>
  {% endif %}

  {% if dacs_error_url %}
  <p>For access to <tt>{{dacs_error_url|default:"the requested URL"}}.</tt></p>
  {% endif %}
</div>
{% endif %}

{% if request.user.is_authenticated %}
Logged in as <b>{{request.user.email}}</b>.

<form method="GET" action="{% url 'sso_logout' %}?url={{request.build_absolute_uri}}">
  <button name="logout">Logout...</button>
</form>

{% else %}
<div class="login_form debian_login">
  <h2>Debian login</h2>

  <p>You can set your SSO password on <a
  href="https://db.debian.org/">https://db.debian.org/</a>. Note that it is
  <em>different</em> from your db.debian.org password.</p>

  <form id="webpasswordLoginForm" method="POST" action="https://sso.debian.org/cgi-bin/dacs/dacs_authenticate">
    <p>
      <label for="USERNAME">Username:</label>
      <input name="USERNAME" type="text" id="USERNAME" size="15" placeholder="username">
    </p>
    <p>
      <label for="PASSWORD">Password:</label>
      <input name="PASSWORD" type="password" id="PASSWORD" size="15" placeholder="password">
    </p>
    <p>
      <span class="button-padding">&nbsp;</span>
      <input type="submit" class="highlight" value="Login with debian.org account">
    </p>
    <input type="hidden" name="DACS_BROWSER" value="1">
    <input type="hidden" name="ENABLE_AUTH_HANDLERS" value="1">
    <input type="hidden" name="DACS_JURISDICTION" value="DEBIAN">
    <input type="hidden" name="AUTH_ID" value="webpassword">
    {% if next_url %}
    <input type="hidden" name="DACS_AUTH_SUCCESS_HANDLER" value="{{next_url}}">
    <input type="hidden" name="DACS_ERROR_URL" value="{{next_url}}">
    {% endif %}
  </form>
</div>

<div class="login_form alioth_login">
  <h2>Alioth login</h2>
  <p>You can register an <a href="https://alioth.debian.org">Alioth</a> account <a href="https://alioth.debian.org/account/register.php">here</a>.</p>
  <form id="aliothLoginForm" method="POST" action="https://sso.debian.org/cgi-bin/dacs/dacs_authenticate">
    <p>
      <label for="USERNAME">Username:</label>
      <input name="USERNAME" type="text" id="USERNAME" size="15" placeholder="username-guest">
    </p>
    <p>
      <label for="PASSWORD">Password:</label>
      <input name="PASSWORD" type="password" id="PASSWORD" size="15" placeholder="password">
    </p>
    <p>
      <span class="button-padding">&nbsp;</span>
      <input type="submit" class="highlight" value="Login with Alioth account">
    </p>
    <input type="hidden" name="DACS_BROWSER" value="1">
    <input type="hidden" name="ENABLE_AUTH_HANDLERS" value="1">
    <input type="hidden" name="DACS_JURISDICTION" value="DEBIAN">
    <input type="hidden" name="AUTH_ID" value="alioth">
    {% if next_url %}
    <input type="hidden" name="DACS_AUTH_SUCCESS_HANDLER" value="{{next_url}}">
    <input type="hidden" name="DACS_ERROR_URL" value="{{next_url}}">
    {% endif %}
  </form>
</div>
{% endif %}

{% endblock %}
