{% extends "debsso-base.html" %}
{% load url from future %}

{% block content %}

<h1 class="announce">Debian Single Sign On</h1>

{% if dacs_error %}
<div class="important">
  {% if dacs_error.tag == "NO_AUTH" %}
  <h1>Login required</h1>
  {% else %}
  <h1>{{dacs_error.sdesc}}</h1>
  <p>{{dacs_error.ldesc}}</p>
  {% endif %}

  {% if dacs_error_url %}
  <p>For access to <tt>{{dacs_error_url|default:"the requested URL"}}.</tt></p>
  {% endif %}
</div>
{% endif %}

{% if dacs_user %}
Logged in as <b>{{dacs_user}}</b>.

<form method="GET" action="/cgi-bin/dacs/dacs_signout">
  <button name="logout">Logout...</button>
</form>

{% else %}
  <form name="loginForm" method="POST" action="/cgi-bin/dacs/dacs_authenticate">
    <label for="USERNAME"><b>Username:</b><span class="form_required" title="Needed argument">*</span></label>
    <br />
    <input name="USERNAME" type="text" id="USERNAME" size="30" ><!-- default empty -->
    <br />
    <div class="description">Please enter your Debian Username.</div>
    <br />
    <label for="PASSWORD"><b>Password:</b><span class="form_required" title="Needed argument">*</span></label>
    <br>
    <input name="PASSWORD" type="password" id="PASSWORD" size="30">
    <br>
    <div class="description">Please enter your password.</div>
    <br>
    <input type="submit" class="highlight" value="Login...">
    <input type="hidden" name="DACS_BROWSER" value="1">
    <input type="hidden" name="ENABLE_AUTH_HANDLERS" value="1">
    <input type="hidden" name="DACS_JURISDICTION" value="DEBIAN">
    {% if next_url %}
    <input type="hidden" name="DACS_AUTH_SUCCESS_HANDLER" value="{{next_url}}">
    <input type="hidden" name="DACS_ERROR_URL" value="{{next_url}}">
    {% endif %}
    <p>You can set your SSO password on <a href="https://db.debian.org/">https://db.debian.org/</a>. Note that it is <em>different</em> from your db.debian.org password.</p>
  </form>
{% endif %}

{% endblock %}
