{% extends "debian-base.html" %}
{% load url from future %}

{% block title %}Debian Single Signon{% endblock %}

{% block head_meta %}
<link rev="made" href="mailto:nm@debian.org">
<meta name="Language" content="English">
<meta name="Author"   content="Enrico Zini, enrico@debian.org">
{% endblock %}

{% block head_resources %}
  {{block.super}}
  <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/debsso.css">
{% endblock %}

{% block section %}<a href="{% url 'home' %}">SSO</a>{% endblock %}

{% block searchbox %}
{% comment %}No search feature in NM site yet{% endcomment %}
{% endblock %}

{% block navbar %}
{% comment %}
  <li><a href="{% url 'sources_list' %}">Data sources</a></li>
  <li><a href="{% url 'site_status' %}">Site status</a></li>
{% endcomment %}
{% endblock %}

{% block breadcrumbs %}<a href="{% url 'sso_login' %}">Debian single sign-on</a>{% endblock %}

{% block relatedpages %}
{% if user.is_anonymous %}
<a href="{% url 'sso_login' %}?url={{request.build_absolute_uri}}">login</a>
{% else %}
<a href="{#% url '' %#}">{{user}}</a>
<a href="{% url 'sso_logout' %}?url={{request.build_absolute_uri}}">logout</a>
{% endif %}
{% endblock %}

{% block content %}
<h1>Debian Single Signon Website Template</h1>
{% endblock %}

{% block footer %}
<h3>What is this?</h3>
<p>This is Debian's web signon service. You can find some documentation on <a href="http://wiki.debian.org/DebianSingleSignOn">this wiki page</a>.</p>
<p>If you are Debian Developer you can set your SSO password on <a href="https://db.debian.org/">https://db.debian.org/</a>. Note that it is <em>different</em> than your db.debian.org password.</p>
<p>Copyright © 2014 Enrico Zini &lt;enrico@debian.org&gt;. See <a href="{% url 'root_license' %}">license terms</a>.
Source code is <a href="http://anonscm.debian.org/gitweb/?p=debian-sso/debian-sso.git;a=summary">here</a>.
{% comment %}
Please report bugs against the <a href="http://bugs.debian.org/nm.debian.org">nm.debian.org</a> pseudo-package.
{% endcomment %}
</p>
{% endblock %}
